*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light : #faf6f7;
    --bg-dark : #121212;
    --txt-light : #fff;
    --txt-dark : #000;
    --fg-color : #d32c60;
    --bg-overlay : rgba(0, 0, 0, 0.5);
    --outline : #cccccc50;
    --txt-grey : #ccccccce;
}

body {
    background-color: var(--bg-dark);
    color: var(--txt-light);
}

textarea {
    resize: none;
}

#filters {
    display: flex; 
    margin: 0px auto;
    width: 90%;
    padding: 5px;
    border-width: 2.5px 2.5px 0px 2.5px;
    border-style: solid;
    border-color: var(--outline);
}

.filter {
    padding: 2px;
}
.filter > button {
    background-color: var(--outline);
    border: 0px;
    border-radius: 3px;
    padding: 3px;
    color: var(--txt-grey);
}

.overlay {
    z-index: 10;
    background-color: var(--bg-overlay);
}

.spread {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.strikeOut {
    text-decoration: line-through;
}

#tasks {
    width: 90%;
    margin: auto;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border : 2.5px solid var(--outline);
}

.task > .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    overflow: hidden;
}

.task > .main > .taskTextContent {
    font-size: 20px;
    font-family: Montserrat;
    width: 75%;
}
.task > .main > .actions {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.task > .main > .actions > button {
    color: var(--fg-color);
    font-size: 20px;
    border: 0px;
    background-color: transparent;
}

.task > .main > .tick {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task > .main > .tick > input {
    width: 20px;
    height: 20px;
    outline : 1px solid var(--fg-color);
    cursor: pointer;
}

.task {
    border-bottom : 2.5px solid var(--outline);
    padding: 5px;  
}

.task > .slide {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.task > .slide > .taskNoteContent {
    background-color: var(--fg-color);
    width: 75%;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

